<!DOCTYPE html>
<html>
<head>
  
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >

  <%= yield %>
</div>


<style>
.tt{
  cursor: pointer;
	color: white;
	display: block;
	padding: 10px;
	margin: 3px;
  
}

.geri{
  cursor: pointer;
	color: #555;
	display: block;
	padding: 10px;
	margin: 3px;
  
}

body{
  background-color:green;
  background-image:url(http://i.hizliresim.com/o9ZdLq.jpg);
 
}
.degisken{
  text-align:center;
  color:red;
}


.ss{
  background-color:white;
}


.bb{
  background-color:white;
  }
</style>


</body>
</html>


 